*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    width: 400px;
    height: 420px;
    border: 2px solid ;
    margin: 50px auto 0;
    border-radius: 5px;
    padding: 15px;
    background-color: whitesmoke;
}
h2{
    text-align: center;
    color: #1877F2;
    padding: 30px;
    font-size: 35px;
}
.o1{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0 5px;
    border: 2px solid transparent;
}
.o1:focus{
    outline: 2px solid #1877F2;
}
.o2{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid transparent;
}
.o2:focus{
    outline: 2px solid #1877F2;
}
.o3{
    width: 360px;
    height: 40px;
    border: none;
    padding: 0 15px;
    color: white;
    background-color: #1877F2;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.3ms;
    font-weight: bold;
}
.o3:hover{
    background-color: #77b1fe;
}
a{
    text-decoration: none;
    color: #1877F2;
    padding: 120px;
    margin-bottom: 5px;
}
hr{
   border-bottom: 1px solid white;
    display: flex;
    margin: 0 5px;
}
.o4{
    font-size: 17px;
    font-weight: bold;
    margin: 17px 85px;
    line-height: 48px;
    padding: 0 16px;
    border-radius: 6px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
.o4:hover{
    background-color: #4fe331;
}

    